.bubble {
    --color-1: #222831;
    --color-2: #30475e;
    --color-3: #f2a365;
    --color-4: #ececec;

    /* --color-1: #4d4646;
    --color-2: #5b5656;
    --color-3: #7fcd91;
    --color-4: #f5eaea; */
/* 
    --color-1: #481380;
    --color-2: #7f78d2;
    --color-3: #efb1ff;
    --color-4: #ffe2ff; */
    
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-image: paint(bubble);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }

  h1 {
    color: var(--color-4);
    font-family: Roboto;
    font-size: 3em;
    text-shadow: 0px 0px 7px rgb(0, 0, 0);
    margin-right: 20px;
  }